{% extends 'base.html.twig' %}

{% block body %}

    <div id="container">
        <div class="page-header">
            <h1>How healthy is your website?</h1>
        </div>
        <div id="content">
            <p>Have you ever wondered how "fit" is your website? Google has made
                a few tools (Page Speed Insights and Mobile Friendly) that help
                you to identify some parameters that take under control the
                <strong>performances</strong> and <strong>user experience</strong>.
                I think there is another important parameter to be reckoned
                with: how much <strong>energy</strong> does your
                <strong>website consume</strong>?</p>

            <p>The <strong>responsibleweb.org</strong> project wants to alert
                internet users to <strong>design environmentally conscious websites</strong>
                without losing sight of the <strong>good design</strong>.
                Our study starts using the results appeared in the article "<a href="http://www.ing.unitn.it/~fontana/GreenInternet/Recent%20Papers%20and%20p2p/Baliga_Ayre_Hinton_Sorin_Tucker_JLT0.pdf">Energy Consumption in Optical IP Networks</a>".</p>

            </p>It is in alpha version, please contact us (info@responsibleweb.org)
            for more information or advice to give. "Drink" web responsably!</p>

            <p>This project is supported by <a href="http://www.studioaqua.it" target="_blank">Studio Aqua</a>.</p>
        </div>
    </div>
{% endblock %}

