{% extends 'base.html.twig' %}

{% block body %}

    <div id="container">
        <div class="page-header">
            <h1>How healthy is your website?</h1>
        </div>
        <div id="content">
            <p>Have you ever wondered how "fit" is your website? Google has made
                few tools to discover how perform your website (Page Speed Insights and Mobile Friendly).
                I think there is another important parameter you don't have to overlook:
                how much <strong>energy</strong> does your
                <strong>website consume</strong>?</p>

            <p>The <strong>responsibleweb.org</strong> project wants to advise
                internet users that <strong>good design</strong> also means
                building websites in a <strong>environmentally conscious</strong> way.
                Our study starts using the results appeared in the article "<a href="http://www.ing.unitn.it/~fontana/GreenInternet/Recent%20Papers%20and%20p2p/Baliga_Ayre_Hinton_Sorin_Tucker_JLT0.pdf" target="_blank">Energy Consumption in Optical IP Networks</a>".</p>

            <p>It is in alpha version, please contact us (info@responsibleweb.org)
                for more information or advices to give.<br />"Drink" web responsibly!</p>

            <p>Responsibleweb.org - copyright &copy; 2015, <a href="http://www.studioaqua.it" target="_blank">Studio Aqua</a><br />
                This program comes with <a href="http://www.gnu.org/licenses/gpl-3.0.en.html#section15" target="_blank">ABSOLUTELY NO WARRANTY</a>.<br />
                This is free software, and you are welcome to redistribute it<br />
                under <a href="http://www.gnu.org/licenses/gpl-3.0.en.html#section2" target="_blank">certain conditions</a>.</p>

            <a href="{{ path('aqua_web_checkup_homepage') }}" class="btn btn-primary">
                Do a check-up
            </a>
        </div>
    </div>
{% endblock %}

